<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="IdentityServiceConnectionString" connectionString="https://gigsidentity-ag2.azurewebsites.net/v1.1/basicAuth"/>
    <add name="DataFlowConnectionString" connectionString="http://gigsdataflowservice-ag2.azurewebsites.net/"/>
  </connectionStrings>
</configuration>